body {
  background-color: #0d1117;
  color: #c9d1d9;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  margin-top: 50px;
}

section{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  section {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
  }

}
article {
  background-color: #161b22;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

article:hover {

transform: scale(1.05);
}
  
